<div class="contain-box-div" style="padding:15px;">
  <table class="stamp-coin-table">
    <tr>
      <td>
        <span>일자</span>
      </td>
      <td>
        <span>당첨 경품</span>
      </td>
      <td>
        <span>룰렛 타입</span>
      </td>
    </tr>
    <% if (coin_gift != "") { %>
      <% for(var i=0;i<coin_gift.length;i++) {%>
      <tr>
        <td>
          <span><%=coin_gift[i].isCreateDate.split(" ")[0]%></span>
        </td>
        <td>
            <span><%=coin_gift[i].gift_content%></span>
        </td>
        <td>
            <span><%=coin_gift[i].use_coin%></span>
        </td>
      </tr>
      <% } %>
    <% } %>
  </table>
</div>
