<html>
  <head>
    <% include ./common/head.ejs %>
  </head>
  <body>
    <div class="main-container">
      <div class="container mainback">
        <div class="login-content">
          <div class="login-title">
            <img src="/img/logo.png"  style="width: 180px;">
          </div>
          <form id="login-form" name="input" method="post" action="/">
            <div style="margin-bottom:10px;">
              <input class="login-input-box user_id" type="text" placeholder="아이디" name="username"/>
            </div>
            <div style="margin-bottom:10px;">
              <input class="login-input-box user_password" type="password" placeholder="비밀번호" name="password"/>
            </div>
            <div class="login-btn">
              <input type="button" class="login-submit-btn" onclick="check();" value="로그인"/>
            </div>
          </form>
        </div>
      </div>
    </div>

    <% include ./common/footer.ejs %>
  </body>
</html>

<script>

$(".login-input-box.user_password").on('keyup', function (e) {
    if (e.keyCode == 13) {
        check();
    }
});

// 중복 입력 방지
var doubleSubmitFlag = false;
function doubleSubmitCheck(){
    if(doubleSubmitFlag){
        return doubleSubmitFlag;
    }else{
        doubleSubmitFlag = true;
        return false;
    }
}


function check(){

  if(doubleSubmitCheck()) return;

  var user_id = $('.login-input-box.user_id').val();
  var user_password = $('.login-input-box.user_password').val();
  if(user_id!=""){
    if(user_password!=""){
      $('#login-form').submit();
    } else {
      alert('비밀번호를 입력해주뮤');
      $('.login-input-box.user_id').val("");
      $('.login-input-box.user_password').val("");
      $('.login-input-box.user_id').focus().trigger('click');
      return false;
    }
  } else {
    alert('아이디를 입력해주뮤');
    $('.login-input-box.user_id').val("");
    $('.login-input-box.user_password').val("");
    $('.login-input-box.user_id').focus().trigger('click');
    return false;
  }
}


</script>
