<!-- Modal -->
  <div class="modal fade" id="adminModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" data-dismiss="modal">
          <span></span>
          <button type="button" class="close">&times;</button>
        </div>
        <div class="modal-body" >
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="helpModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" data-dismiss="modal">
          <span>OOHJOO 이용 방법</span>
          <button type="button" class="close">&times;</button>
        </div>
        <div class="modal-body" >
          <div style="padding: 15px;font-size: 13px;background-color: #ffffff;border-radius: 10px;">
            OOHJOO! 의 Stamp 와 Coin 포인트 이용 방법!<br />
            <br />
            - 과제는 주중 오후 2시 ~ 2시 30분 사이에 제출 가능합니다.<br />
            (시간을 초과한 제출 또는 주말간 과제에 대한 문의는 따로 연락바랍니다.)<br />
            <br />
            - 과제 완료시 1 Stamp 획득합니다.<br />
            <br />
            - 과제 미완료시 1 Stamp 차감합니다.<br />
            <br />
            - 5 Stamp 는 1 Coin 으로 교환 가능합니다.<br />
            <br />
            - 1 Coin 은 현금으로 약 1만원 가량의 가치를 가집니다.<br />
            (현금으로의 교환은 불가합니다.)<br />
            <br />
            - (예정) Coin은 경품 코너를 통해 보보에게서 수령 가능합니다.<br />
            <br />
            - (예정) 경품 코너는 1 Coin / 5 Coin / 10 Coin 으로 구분됩니다.<br />
            <br />
            - Stamp와 Coin 정책은 사정에 따라 언제든지 변경 가능합니다.<br />
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="stampCoinModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" data-dismiss="modal">
          <span>Stamp & Coin 관리</span>
          <button type="button" class="close">&times;</button>
        </div>
        <div class="modal-body" >
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>




  <div class="modal fade" id="coinRouletteModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" data-dismiss="modal">
          <span>룰렛 돌리기</span>
          <button type="button" class="close">&times;</button>
        </div>
        <div class="modal-body" >
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="coinGiftModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" data-dismiss="modal">
          <span>경품 당첨 내역</span>
          <button type="button" class="close">&times;</button>
        </div>
        <div class="modal-body" >
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
