<div class="coin-change-div">
  <div class="coin-change-text-box">
    <span> 현재 보유 코인 </span>
  </div>
  <div class="coin-change-number-box">
    <%=user.coin %>
  </div>
</div>
<div style="width:100%;text-align:center;"><i class="material-icons" style="font-size:35px;">&#xE5DB;</i></div>
<div class="coin_roulette_box_div">
  <canvas id="canvas" width="250" height="250">
      <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
  </canvas>
</div>
<div class="power_controls">
    <img id="spin_button" src="/img/spin_on.png" alt="Spin" class="spin_btn active"/><br /><br />
    <!-- <a href="#" class="reset_spin_btn"><i class="material-icons" style="font-size: 35px;">&#xE5D5;</i></a><br />(RESET) -->
</div>
<div class="gift-list-div contain-box-div">
  <div style="text-align:center;font-size: 20px;margin-bottom:10px;">
    <span>
    <% if(type=='one') { %>
      1 Coin 경품 안내
    <% } else if(type=='five') { %>
      5 Coin 경품 안내
    <% } else if(type=='ten') { %>
      10 Coin 경품 안내
    <% } %>
    </span>
  </div>
  <ul style="margin-bottom: 0px;">
    <% if(type=='one') { %>
      <li id="prize_1">Prize 1 : CJ 상품권 1만원권</li>
      <li id="prize_2">Prize 2 : 컬쳐랜드 문화상품권 1만원권</li>
      <li id="prize_3">Prize 3 : 백화점 상품권 1만원권</li>
      <li id="prize_4">Prize 4 : 스타벅스 기프티콘</li>
      <li id="prize_5">Prize 5 : CJ 상품권 5천원권</li>
      <li id="prize_6">Prize 6 : 카카오톡 이모티콘 3종</li>
      <li id="prize_7">Prize 7 : 영화 예매권 1매</li>
      <li id="prize_8">Prize 8 : 스타벅스 기프트카드 1만원</li>
      <li id="prize_9">Prize 9 : 컬쳐랜드 문화상품권 5천원권</li>
    <% } else if(type=='five') { %>
      <li id="prize_1">Prize 1 : 백화점 상품권 5만원권</li>
      <li id="prize_2">Prize 2 : CJ 상품권 5만원권</li>
      <li id="prize_3">Prize 3 : 빕스(또는 이에 준하는 식당) 1회 식사권(보보가 사줌)</li>
      <li id="prize_4">Prize 4 : 큰 인형</li>
      <li id="prize_5">Prize 5 : 5만원 상당의 옷</li>
      <li id="prize_6">Prize 6 : 5만원 상당의 화장품</li>
      <li id="prize_7">Prize 7 : 영화 예매권 4매</li>
      <li id="prize_8">Prize 8 : 스타벅스 텀블러 or 써니보틀</li>
      <li id="prize_9">Prize 9 : Alive 멀티 비타민 원스데일리 포 우먼</li>
    <% } else if(type=='ten') { %>
      <li id="prize_1">Prize 1 : 신발 구매권</li>
      <li id="prize_2">Prize 2 : 10만원 상당의 화장품</li>
      <li id="prize_3">Prize 3 : CJ 상품권 10만원권</li>
      <li id="prize_4">Prize 4 : 미정</li>
      <li id="prize_5">Prize 5 : 뮤지컬 관람권</li>
      <li id="prize_6">Prize 6 : 10만원 상당의 옷</li>
      <li id="prize_7">Prize 7 : 미정</li>
      <li id="prize_8">Prize 8 : 백화점 상품권 10만원권</li>
      <li id="prize_9">Prize 9 : 미정</li>
    <% } %>
  </ul>
</div>
<script>
    type_roulette = "<%=type%>";

    $('.reset_spin_btn').click(function(){
      var btn = $('#spin_button');
      resetWheel();
      btn.addClass('active');
      return false;
    });

    $('#spin_button').click(function(){
      var btn = $(this);
      var usercoin = "<%=user.coin%>";
      var userId = "<%=user.user_id%>";
      if(btn.hasClass('active')){
        if(type_roulette=='one'){
          if(usercoin<1) {
            alert('Coin이 부족합니다!');
            return;
          } else {
            if (confirm("룰렛을 돌리나요?") == true){    //확인
              startSpin();
              btn.removeClass('active');
              return;
            }else{   //취소
              return;
            }
          }
        } else if(type_roulette=='five'){
          if(usercoin<5) {
            alert('Coin이 부족합니다!');
            return;
          } else {
            if (confirm("룰렛을 돌리나요?") == true){    //확인
              startSpin();
              btn.removeClass('active');
              return;
            }else{   //취소
              return;
            }
          }
        } else if(type_roulette=='ten'){
          if(usercoin<10) {
            alert('Coin이 부족합니다!');
            return;
          } else {
            if (confirm("룰렛을 돌리나요?") == true){    //확인
              startSpin();
              btn.removeClass('active');
              return;
            }else{   //취소
              return;
            }
          }
        }
      } else {
        alert('RESET을 눌러주세요');
      }
    });


    // Create new wheel object specifying the parameters at creation time.
    var theWheel = new Winwheel({
        'numSegments': 9, // Specify number of segments.
        'outerRadius': 125, // Set outer radius so wheel fits inside the background.
        'textFontSize': 20, // Set font size as desired.
        'segments': // Define segments including colour and text.
        [
               {'fillStyle' : '#ffb6c1', 'text' : 'Prize 1'},
               {'fillStyle' : '#ffb8ed', 'text' : 'Prize 2'},
               {'fillStyle' : '#dbb8ff', 'text' : 'Prize 3'},
               {'fillStyle' : '#b8c9ff', 'text' : 'Prize 4'},
               {'fillStyle' : '#b8ffff', 'text' : 'Prize 5'},
               {'fillStyle' : '#b8ffdb', 'text' : 'Prize 6'},
               {'fillStyle' : '#dbffb8', 'text' : 'Prize 7'},
               {'fillStyle' : '#ffffb8', 'text' : 'Prize 8'},
               {'fillStyle' : '#ffedb8', 'text' : 'Prize 9'}
            ],
        'animation': // Specify the animation to use.
        {
            'type': 'spinToStop',
            'duration': 5, // Duration in seconds.
            'spins': 8, // Number of complete spins.
            'callbackFinished': 'alertPrize()'
        }
    });

    // Vars used by the code in this page to do power controls.
    var wheelPower = 0;
    var wheelSpinning = false;

    // -------------------------------------------------------
    // Click handler for spin button.
    // -------------------------------------------------------
    function startSpin() {
        // Ensure that spinning can't be clicked again while already running.
        if (wheelSpinning == false) {
            // Based on the power level selected adjust the number of spins for the wheel, the more times is has
            // to rotate with the duration of the animation the quicker the wheel spins.
            if (wheelPower == 1) {
                theWheel.animation.spins = 3;
            } else if (wheelPower == 2) {
                theWheel.animation.spins = 8;
            } else if (wheelPower == 3) {
                theWheel.animation.spins = 15;
            }

            // Disable the spin button so can't click again while wheel is spinning.
            document.getElementById('spin_button').src = "/img/spin_off.png";

            // Begin the spin animation by calling startAnimation on the wheel object.
            theWheel.startAnimation();

            // Set to true so that power can't be changed and spin button re-enabled during
            // the current animation. The user will have to reset before spinning again.
            wheelSpinning = true;
        }
    }

    // -------------------------------------------------------
    // Function for reset button.
    // -------------------------------------------------------
    function resetWheel() {
        theWheel.stopAnimation(false); // Stop the animation, false as param so does not call callback function.
        theWheel.rotationAngle = 0; // Re-set the wheel angle to 0 degrees.
        theWheel.draw(); // Call draw to render changes to the wheel.

        document.getElementById('spin_button').src = "/img/spin_on.png";
        wheelSpinning = false; // Reset to false to power buttons and spin can be clicked again.
    }

    // -------------------------------------------------------
    // Called when the spin animation has finished by the callback feature of the wheel because I specified callback in the parameters.
    // -------------------------------------------------------
    function alertPrize() {
        // Get the segment indicated by the pointer on the wheel background which is at 0 degrees.
        var winningSegment = theWheel.getIndicatedSegment();

        // Do basic alert of the segment text. You would probably want to do something more interesting with this information.
        var use_coin = 0;
        var winning_id = winningSegment.text.split(" ")[0]+'_'+winningSegment.text.split(" ")[1];
        alert($('.gift-list-div').find('#'+winning_id).html()+" 당첨!");
        if(type_roulette=='one'){
          use_coin = 1;
          winning_gift = $('.gift-list-div').find('#'+winning_id).html();
        } else if(type_roulette=='five'){
          use_coin = 5;
          winning_gift = $('.gift-list-div').find('#'+winning_id).html();
        } else if(type_roulette=='ten'){
          use_coin = 10;
          winning_gift = $('.gift-list-div').find('#'+winning_id).html();
        }
        $.ajax({
            url: '/winning_gift',
            type: 'POST',
            data: {use_coin:use_coin, winning_gift:winning_gift,type:type_roulette},
            success: function(view) {
                $.ajax({
                    url: '/coin_roulette',
                    type: 'POST',
                    data: {type:type_roulette},
                    success: function(view) {
                        $('#coinRouletteModal').find(".modal-body").html(view);
                    }
                });
            }
        });
    }
</script>
